<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="header-top">
      <h1><a href="#">My Portfolio</a></h1>
      <nav>
        <a routerLink="/stocks">Stocks</a>
        <a routerLink="/bonds" class="active">Bonds</a>
        <a routerLink="/profile">Profile</a>
        <a href="#">Overview</a>
      </nav>
    </div>
  </div>

  <!-- VALUE BOXES for Bonds -->
  <div class="portfolio-values-boxes">
    <div class="value-card">
      <h3>Portfolio Value</h3>
      <p class="main-value">${{ globalValue | number : "1.2-2" }}</p>
    </div>

    <div class="value-card">
      <h3>Net Bond Valuation</h3>
      <p class="main-value">${{ bondValuation | number : "1.2-2" }}</p>
    </div>
  </div>

  <!-- Profit gain/loss sentence for bonds -->
  <div class="portfolio-profit-box">
    <p [ngClass]="getTotalBondChange() >= 0 ? 'gain-text' : 'loss-text'">
      Your portfolio has
      {{ getTotalBondChange() >= 0 ? "gained" : "lost" }}
      <strong>{{ getTotalBondChange() | currency }}</strong>
      from bonds.
    </p>
  </div>

  <div class="dashboard-grid">
    <div class="your-bonds-box">
      <h2>Your Bonds</h2>
      <table>
        <thead>
          <tr>
            <th>Bond Name</th>
            <th>Bond Ticker</th>
            <th>Adjusted Cost Base</th>
            <th>Bond Yield</th>
            <th>Current Market Price</th>
            <th>Number of Bonds</th>
            <th>Difference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bond of bonds">
            <td>{{ bond["Bond Name"] }}</td>
            <td>{{ bond["Bond Ticker"] }}</td>
            <td>{{ bond["Purchase Price per Bond"] | currency }}</td>
            <td>{{ bond["Bond Yield (%)"] }}</td>
            <td>
              {{ bond["Current Market Price (from YFinance)"] | currency }}
            </td>
            <td>{{ bond["Number of Bonds"] }}</td>
            <td>
              <span
                [ngClass]="getBondDiff(bond) >= 0 ? 'gain' : 'loss'"
                class="gain-loss-cell"
              >
                {{ getBondDiff(bond) | currency }}
                <span class="material-symbols-outlined">
                  {{ getBondDiff(bond) >= 0 ? "trending_up" : "trending_down" }}
                </span>
              </span>
            </td>
            <button
              (click)="
                openModal('sell', {
                  ticker: bond['Bond Ticker'],
                  name: bond['Bond Name'],
                  current_price: bond['Current Market Price (from YFinance)'],
                  data: bond
                })
              "
              class="padd"
            >
              Sell
            </button>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="other-bonds-box">
      <h2>View Other Bonds</h2>
      <div class="bond-search">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Search by ticker"
        />
        <button (click)="this.getMarketBond()">Search</button>
      </div>
      <div *ngIf="errorMessage" class="error_msg">
        {{ errorMessage }}
      </div>
      <table>
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Current Price</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngIf="marketBondValues['bond_ticker']">
            <td>{{ marketBondValues["bond_ticker"] }}</td>
            <td>{{ marketBondValues["bond_name"] }}</td>
            <td>{{ marketBondValues["current_price"] }}</td>
            <button class="buy-button"
              (click)="
                openModal('buy', {
                  ticker: marketBondValues['bond_ticker'],
                  name: marketBondValues['bond_name'],
                  current_price: marketBondValues['current_price'],
                  data: marketBondValues
                })
              "
            >
              Buy
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <!--<Buy/Sell Modal -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
      <h2>
        {{ modalType === "buy" ? "Buy" : "Sell" }}
        {{
          modalType === "buy"
            ? selectedBond?.stock_ticker
            : selectedBond?.ticker
        }}
      </h2>

      <label>Quantity: </label>
      <input type="number" [(ngModel)]="modalQuantity" min="1" />
      <td></td>
      <label for="bankAccount">Select Bank Account:</label>
      <select id="bankAccount" [(ngModel)]="selectedBankAccount">
        <option *ngFor="let bank of bankAccounts" [ngValue]="bank">
          {{ bank.bank_account_name }} ({{ bank.bank_account_type }}) - {{ bank.current_balance | currency }}
        </option>
      </select>

      <p *ngIf="modalQuantity && selectedBond">
        Total {{ modalType === "buy" ? "Cost" : "Return" }}:
        {{
          (selectedBond.current_price * modalQuantity | currency)
        }}
      </p>
      <div *ngIf="response" class="response-message">
        {{ response }}
      </div>
      <div class="modal-actions">
        <button (click)="confirmTransaction()">Confirm</button>
        <button (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>